# Entornos virtuales
cami/ 

# Archivos de resultados del modelo
data/
topics_results.pkl
bertopic_model.pkl
cleaned_tweets.pkl
embeddings.pkl
sentiment_results.pkl
sentiment_results.csv
sentiment_tweets3.csv
topic_emebeddings.pkl
cleaned_tweets.pkl
embeddingsTopics.pkl




mock.py/
mock.py
__pycache__/
info.txt
distribucion de los topicos.png




