# Entornos virtuales
cami/ 

# Archivos de prueba y notas
info.txt
testModels.py
topic_embeddings.py

#cache
__pycache__/

# Data
BERTopic_model.pkl
sdf_filtered.csv
SentimentResults.pkl
sentiment_topic_analysis.csv
sentiment_results.pkl
## Archivos de resultados
cleaned_tweets.pkl
sentiment_embeddings.pkl
topic_embeddings.pkl
#raw data
sentiment_tweets3.csv
#saved models
bertopic_model.pkl
sentiment_results.csv
sentiment_results.pkl
topics_results.pkl


