#pip install -r requirements.txt

# Core Libraries
numpy>=2.0.0
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.15.1
matplotlib==3.6.2
seaborn==0.11.2
plotly
altair==5.5.0
joblib==1.4.2
tqdm==4.67.1
scipy==1.15.1
sympy==1.13.1
statsmodels==0.15.0

# NLP and Transformers
transformers==4.48.2
sentence-transformers==3.4.1
tokenizers==0.21.0
huggingface-hub==0.28.1
torch==2.6.0

# Data Storage and Management
pyarrow==19.0.0
pillow==11.1.0
protobuf==5.29.3
jsonschema==4.23.0
pydeck==0.9.1
requests==2.32.3
urllib3==2.3.0

# Topic Modeling and Clustering
bertopic==0.9.1
umap-learn==0.5.7
hdbscan==0.8.40
pynndescent==0.5.13
networkx==3.4.2

# Data Cleaning and Text Processing
nltk==3.8.1
stopwords==1.0.0
regex==2024.11.6
emoji==1.6.0
wordcloud==1.9.4
configparser==5.0.0
attrs==25.1.0
rich==13.9.4
tenacity==9.0.0
filelock==3.17.0
fsspec==2025.2.0
tornado==6.4.2

# System Utilities
click==8.1.8
packaging==24.2
charset-normalizer==3.4.1
idna==3.10
Jinja2==3.1.5
markdown-it-py==3.0.0
MarkupSafe==3.0.2
jsonschema-specifications==2024.10.1
smmap==5.0.2
toml==0.10.2
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2

# GPU/Hardware Acceleration (if needed)
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127

# Development Tools
gitdb==4.0.12
GitPython==3.1.44
attrs==25.1.0
blinker==1.9.0
cachetools==5.5.1
smmap==5.0.2
watchdog==6.0.0
